       /* Estilos básicos para layout do corpo do site */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        /* Estilos para cabeçalho, rodapé do site */
        header, footer {
            background-color: #f8f8f8;
            padding: 10px 20px;
            text-align: center;
        }
        /* Estilos para navegação */
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 15px;
        }
        /* Estilos para o conteúdo principal */
        main {
            flex: 1;
            display: flex;
        }
        /* Estilos para barra lateral */
        aside {
            width: 200px;
            background-color: #f0f0f0;
            padding: 15px;
        }
        /* Estilos para seção principal */
        section {
            flex: 1;
            padding: 15px;
        }
        /* Estilos para a classe de botões */
        .btn {
            text-decoration: none;
            display: inline-block;
            padding: 10px 15px;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            text-align: center;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .btn.active {
            background-color: #28a745;
        }
        span{
            color: #0f0;
        }